
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card do Livro</title>

    <style>
        .container {
            text-align: center;
        }
    </style>

    <!-- This gotta be here for prevent flickering, it loads library first than the HTML document -->
    <script src="https://unpkg.com/scrollreveal"></script>

    {{range .CSSFiles}}
        <link rel="stylesheet" href="{{.}}">
    {{end}}

</head>
<body>
    <div class="big-logo">
        <img src="{{ .logoPath }}">
    </div>

    <!-- Ícone do menu hambúrguer fixo -->
    <div id="menu-btn" class="menu-btn">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <!-- Menu lateral (sidebar) -->
    <!-- TODO: aqui o menu tem que fechar quando clicar fora dele -->
    <nav id="sidebar" class="sidebar">
        <ul>
            <p class="logged-user">User: {{.loggedUser}}</p>
        <li><a class="actual-page" href="">Início</a></li>
        
            {{if .isAuthenticated}}
                <form id="logout-form" action="/user/logout" method="POST" style="display: none;"></form>
                <li><a href="/books/my-books">Meus livros</a></li>
                <li><a href="/books/add">Envie um livro</a></li>
                <li><a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a></li>
            {{else}}
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Cadastro</a></li>
            {{end}}
        </ul>
    </nav>

    <div id="books-section">
        <div class="card-container">
            {{range .books}}
                <div class="card">
                    <div class="foto" class="main-cards">
                        <img class="book-photo" src="{{.ImageUrl}}" alt="" srcset="">
                    </div>
                    <!-- <p>id: {{.Id}}</p> -->
                    <div class="info">
                        <p title="Nome do livro">&#x1F4D8; - Nome do livro: {{.Name}}</p>
                        <p title="Autor do livro">&#x1F4D5; - Autor: {{.Author}}</p>

                        <p title="Editora">&#x1F4D7; - Editora: {{.Publisher}}</p>
                        <p title="Volume do livro">&#x1F4D9; - Volume (se for um box): {{.Volume}}</p>
                        <p title="Ano de lançamento">&#x1F4D3; - Ano de lançamento: {{.Year}}</p>
                    </div>
                    <button 
                        class="trocar" 
                        data-book-id="{{.Id}}" 
                        data-others-book-name="{{.Name}}" 
                        onclick="openPopup(this)">
                        Trocar
                    </button>
                </div>
            {{end}}
            <!-- <img src="https://i.imgur.com/wZCr3fC.jpeg" alt="gato safado achando que é empresário"> -->
        </div>
    </div>

    <div class="overlay" id="overlay" onclick="closePopup()"></div>

    <div class="popup" id="popup">
        <!-- Aqui vai pegar os livros que a pessoa tem -->
        <div class="popup-content" onclick="event.stopPropagation()">
            {{if .isAuthenticated}}
                <div class="mini-cards">
                    {{range .userBooks}}
                        <div class="mini-card" data-book-id="{{.Id}}" data-your-book-name="{{.Name}}" onclick="openConfirmation(this)">
                            <div class="foto">
                                <img class="mini-photo" src="{{.ImageUrl}}" alt="{{.Name}}">
                            </div>
                            <div class="info">- {{.Name}}</div>
                        </div>
                    {{else}}
                        <p class="warning">Você ainda não cadastrou nenhum livro.</p>
                    {{end}}
                </div>
            {{else}}
                <div class="container">
                    <span class="warning">Você precisa se cadastrar para trocar livros!</span>
                </div>
            {{end}}
        </div>
        <button class="fechar" onclick="closePopup()">Fechar</button>
    </div>

    <div class="overlay" id="overlay" onclick="closeConfirmation()"></div>
    <div class="confirmacao" id="confirmacao">
        <p>Tem certeza que deseja trocar este livro?</p>
        <button onclick="closeConfirmation()">Confirmar</button>
        <button onclick="closeConfirmation()">Cancelar</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

    {{range .JSFiles}}
        <script src="{{.}}"></script>
    {{end}}

</body>
</html>
