<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Book Trade</title>

    {{range .CSSFiles}}
        <link rel="stylesheet" href="{{.}}">
    {{end}}
</head>
<body>

    <div class="form-container">
        <h1>Cadastro</h1>
        {{if .Errors}}
            <ul style="color: red;">
                {{range .Errors}}
                    <li>{{.}}</li>
                {{end}}
            </ul>
        {{end}}
        <form action="/user/register" method="post">
            <div>
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" placeholder="Seu nome completo" required>
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="seuemail@email.com" required>
            </div>

            <div>
                <label for="password">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Crie uma senha" required>
            </div>

            <div>
                <label for="confirmPassword">Confirme sua senha:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Repita a senha" required>
            </div>

            <input type="submit" value="Cadastrar">
        </form>

        <div class="alter-link">
            <p>Já tem uma conta? <a href="/user/login">Entrar</a></p>
        </div>
    </div>

</body>
</html>
