<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Livro - Book Trade</title>


    {{range .CSSFiles}}
        <link rel="stylesheet" href="{{.}}">
    {{end}}
    
</head>
<body>

    <!-- Ícone do menu hambúrguer fixo -->
    <div id="menu-btn" class="menu-btn">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>

    <nav id="sidebar" class="sidebar">
    <ul>
        <p class="logged-user">User: {{.loggedUser}}</p>
        <li><a href="/">Início</a></li>
        
        <!-- TODO: Adicionar aqui o nome do usuário que está logado -->

        {{if .isAuthenticated}}
            <form id="logout-form" action="/user/logout" method="POST" style="display: none;"></form>
            <li><a href="/books/my-books">Meus livros</a></li>
            <li><a class="actual-page" href="">Envie um livro</a></li>
            <li><a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a></li>
        {{else}}
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/register">Cadastro</a></li>
        {{end}}
    </ul>
    </nav>

    <div class="form-container">
        <h1>Envie um livro</h1>

        <!-- TODO: Precisa de uma api de livros para facilitar o preenchimento dos formulários -->
        <!-- TODO: Adicionar aviso que as imagens sao hospedadas no imgur -->
        <form action="/books/send" method="post" enctype="multipart/form-data">
            <div>
                <label for="bookName">Nome do livro:</label>
                <input type="text" name="bookName" id="bookName" placeholder="A Revolução dos Bichos" required>
            </div>

            <div>
                <label for="bookAuthor">Autor do livro:</label>
                <input type="text" name="author" id="bookAuthor" placeholder="George Orwell" required>
            </div>

            <div>
                <label for="bookPublisher">Editora:</label>
                <input type="text" name="publisher" id="bookPublisher" placeholder="Editora">
            </div>

            <div>
                <label for="bookVolume">Volume:</label>
                <input type="number" name="volume" id="bookVolume" placeholder="1">
            </div>

            <div>
                <label for="bookYear">Ano de lançamento:</label>
                <input type="number" name="year" id="bookYear" placeholder="1945" max="9999">
            </div>

            <div>
                <label for="bookPhoto">Capa do livro:</label>
                <input type="file" id="bookPhoto" name="photo" accept=".jpg, .jpeg, .png, .gif" required>
            </div>

            <input type="submit" value="Enviar livro">
        </form>
    </div>

    <script>
        const bookYear = document.getElementById("bookYear");
        bookYear.max = new Date().getFullYear();

        const menuBtn = document.getElementById('menu-btn');
        const sidebar = document.getElementById('sidebar');

        menuBtn.addEventListener('click', () => {
            sidebar.classList.toggle('active');
            menuBtn.classList.toggle('open');
        });
    </script>
</body>
</html>