.form-container {
    margin: 10px;
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    color: #5A6EB1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label {
    margin-bottom: 6px;
    display: block;
    font-weight: 600;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 10px 14px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color: #5A6EB1;
    outline: none;
}

input[type="submit"] {
    background-color: #5A6EB1;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #47589e;
}

div {
    display: flex;
    flex-direction: column;
}

/* Responsivo */
@media (max-width: 600px) {
    .form-container {
        padding: 24px;
    }
}

    /* menu aborgue */
    /* Ícone hambúrguer fixo no canto superior esquerdo */
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001; /* acima do menu */
}

.menu-btn .bar {
    height: 4px;
    width: 100%;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.4s ease;
    transform-origin: left center;
    transform: translateZ(0);
}

/* Animação para transformar o hambúrguer em X */
.menu-btn.open .bar:nth-child(1) {
    transform: translate(1px, 1px) rotate(40deg);
}

.menu-btn.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-btn.open .bar:nth-child(3) {
    transform: translate(1px, -1px) rotate(-40deg);
}

/* Sidebar lateral, inicialmente escondido à esquerda */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px; /* escondido fora da tela */
    width: 250px;
    height: 100vh;
    background-color: #222;
    padding-top: 60px;
    transition: right 0.4s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 20px 0;
    margin-right: 30px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

ul li a.actual-page {
    color: #ff9800;
}

.sidebar ul li a:hover {
    color: #ff9800;
}

/* Quando o menu estiver aberto, desloca sidebar para a tela */
.sidebar.active {
    right: 0;
}

.logged-user {
    color: white;
    text-align: center;
    margin-right: 30px;
}

.alter-link {
    text-align: center;
    margin-top: 15px;
}